<%- include("partials/header") %>

<h1>Campgrounds</h1>

<div class="col-sm" style="padding: 0; display: flex;">
  <% campgrounds.forEach(function(item){ %>

  <div class="card" style="width: 18rem; margin: 0px 24px 0px 0px;">
    <img src="<%= item.image %>" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
    </div>
  </div>

  <% }); %>
</div>

<a class="btn btn-primary" href="/campgrounds/new">Add new</a>
<%- include("partials/footer") %>
