<%- include("partials/header") %>

<h1>Campgrounds</h1>

<p>this is camp</p>

<a href="/campgrounds/new">Add new campgrounds</a>

<% campgrounds.forEach(function(item){ %>
<div>
  <h2><%= item.name %></h2>
  <img src="<%= item.image %>" alt="" width="500" />
</div>

<a href="/">Home</a>

<% }); %> <%- include("partials/footer") %>
