.spacing-48 {
  margin: 48px 0px 48px 0px;
}

.spacing-32 {
  margin: 32px 0px 32px 0px;
}

.spacing-16 {
  margin: 16px 0px 16px 0px;
}

/* .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} */

.thumbnail {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #e9e9e9;
}
